
html {
    background-color:rgb(184, 184, 184);
  }

  .content {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
  }

.cardDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 200px;
}

.cardlist {
    margin-top: 10px;
}

.cardForm {
    width: 30%;
    height: 50%;
    margin: 2%;
    margin-left: 2%;
    input {
      margin-top: 3%;
    }
}

.toDoHeader{
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 15px;
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.appHeader{
    background-color: rgb(2, 54, 122);
    color: white;
    padding: 3px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}